

<!--
<div>
  <h4>SignUP</h4>
  <input type="text" #email>
  <input type="text" #pass>
  <button (click)="signUp()">Sumbit</button>
</div>

-->

<br><br><br><br>
<div class="wrapper fadeIn">
  <div id="formContent">
    <br>
    <!-- Tabs Titles -->
    <h3>Sign Up</h3>

    <br><br>
    <!-- Login Form -->
    <form>
      <input type="text" id="email" class="fadeIn second" [(ngModel)]="email"  name="login" placeholder="email">
      <input type="text" id="password" class="fadeIn third" name="login" [(ngModel)]="password" placeholder="password">
      <input (click)="signUp()" type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/account/login">Have an account? </a>
    </div>

  </div>
</div>
